@import "src/utilities/references/index";

.guess-row-main {
    display: flex;
    column-gap: 12px;

    .item {
        background-color: white;
        width: 45px;
        height: 45px;
        @include main-pre-md {
            width: 30px;
            height: 30px;
            font-size: 18px;
        }
        border-radius: 6px;
        color: black;
        font-weight: bold;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;

        &.green {
            background-color: forestgreen;
        }

        &.yellow {
            background-color: yellow;
        }

        &.black {
            background-color: #292727;
            color: white;
        }
    }
}