@import "src/utilities/references/index";

.wordle-main {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 320px;
    min-height: 100vh;


    .game-board {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }
}